---

### --- GITLAB-CI --- ###
#
# SSL Deploy Certificate Configuration.
#   - This option and `gitlab_create_self_signed_cert` exclude each other
#     if `ssl_certificate` and `ssl_certificate_key` are defined and `!= ''`
#     the script automatically will deploy those certificates
#   - Please do NOT put you certificates in this file. And do NOT push any
#     certificate to github or any type of storage service.
#     usage:
#       - Override this variables inside a file and and use `vars_files:`
#         Ansible module. Other approach is to use a file inside
#         `group_vars/all_secrets`
#       - ENCRIPT the file with Ansible vault:
#         Your SSL certificates should never be uploaded in plain text. SSH
#         connection work in plain text by default. To solve this problem
#         Ansible provides vault. Ansible vault will encript a file with
#         variables. The encripted variables will be decripted in the
#         destination machine.
#
# commands:
#
# $ cd /dir/with/your/certificates
#
# $ openssl req -new -nodes -x509                         \
#           -subj "/C=US/ST=TX/L=Houston/O=IT/CN=gitlab"  \
#           -days 3650 -keyout gitlab_ssl_certificate_key \
#           -out gitlab_ssl_certificate                   \
#           -extensions v3_ca
#
# $ cd /group_vars
#
# $ touch secrets
#
# $ ansible-vault encrypt secrets

ssl_certificate: |
  -----BEGIN CERTIFICATE-----
  copy your certificate here, Notice the two spaces at the begining of the line
  -----END CERTIFICATE-----

ssl_certificate_key: |
  -----BEGIN RSA PRIVATE KEY-----
  copy your key here, Notice the two spaces at the begining of the line
  -----END RSA PRIVATE KEY-----
