# The URL through which GitLab will be accessed.
external_url "{{ gitlab_external_url }}"

# Whether to redirect http to https.
nginx['redirect_http_to_https'] = {{ gitlab_redirect_http_to_https }}
nginx['ssl_certificate'] = "{{ gitlab_ssl_certificate }}"
nginx['ssl_certificate_key'] = "{{ gitlab_ssl_certificate_key }}"

# The directory where Git repositories will be stored.
git_data_dir "{{ gitlab_git_data_dir }}"

# These settings are documented in more detail at
# https://gitlab.com/gitlab-org/gitlab-ce/blob/master/config/gitlab.yml.example#L118
gitlab_rails['ldap_enabled'] = {{ gitlab_ldap_enabled }}
gitlab_rails['ldap_host'] = '{{ gitlab_ldap_host }}'
gitlab_rails['ldap_port'] = {{ gitlab_ldap_port }}
gitlab_rails['ldap_uid'] = '{{ gitlab_ldap_uid }}'
gitlab_rails['ldap_method'] = '{{ gitlab_ldap_method}}' # 'ssl' or 'plain'
gitlab_rails['ldap_bind_dn'] = '{{ gitlab_ldap_bind_dn }}'
gitlab_rails['ldap_password'] = '{{ gitlab_ldap_password }}'
gitlab_rails['ldap_allow_username_or_email_login'] = true
gitlab_rails['ldap_base'] = '{{ gitlab_ldap_base }}'

{% if 'external_database' == true %}
  ############################
  # GitLab database settings #
  ############################
  ## see https://gitlab.com/gitlab-org/omnibus-gitlab/blob/629def0a7a26e7c2326566f0758d4a27857b52a3/doc/settings/database.md#database-settings
  postgresql['enable']        = false
  gitlab_rails['db_adapter']  = "postgresql"
  gitlab_rails['db_encoding'] = "unicode"
  gitlab_rails['db_database'] = '{{ database_name }}'
  gitlab_rails['db_username'] = '{{ database_user }}'
  gitlab_rails['db_password'] = '{{ database_password }}'
  gitlab_rails['db_host']     = '{{ database_host }}'
  gitlab_rails['db_port']     = '{{ database_port }}'
{% endif %}

{% if 'external_redis' == true %}
  #########################
  # GitLab redis settings #
  #########################
  ## see https://gitlab.com/gitlab-org/omnibus-gitlab/blob/629def0a7a26e7c2326566f0758d4a27857b52a3/doc/settings/redis.md#redis-settings
  ## Connect to your own redis instance.
  redis['enable']            = false
  gitlab_rails['redis_host'] = '{{ redis_host }}'
  gitlab_rails['redis_port'] = {{ redis_port }}
{% endif %}
  
# To change other settings, see:
# https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/README.md#changing-gitlab-yml-settings
